#root {
  max-width: 1280px;
  height: 100vh;
  padding: 2rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.link-select {
  background-color: var(--color-green);
}

a {
  color: var(--color-white);
}
